html {
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans Japanese", sans-serif;
  color: #000;
}

p {
  font-family: "Noto Sans", sans-serif;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

a {
  color: #005e76;
  border-bottom: 1px solid #005e76;
  padding: .3em;
  text-decoration: none;
}

.nav a:hover {
  color: #000;
}

.intro {
  line-height: 25px;
}

.btn-ghost {
  background-color: transparent;
  border-color: #8bc9d9;
  color: #005e76;
}

.btn-ghost:hover {
  background-color: #8bc9d9;
  border-color: #0084a6;
  color: #005e76;
}

.line-break {
  border-color: #e2e2e2;
}

@media only screen and (min-width: 60em) {

  .nav {
    display: inline;
  }

}
